* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
  /* background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
}
#formInput{
  position: absolute;
  z-index: 100;
  text-align: center;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  /* z-index: -1; */
}