* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
  /* background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
}
/* #textIcon {
  position: absolute;
  cursor: pointer;
  z-index: 100;
  height: 60px;
  width: 60px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 8px;
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgb(226,159,189);
  background: radial-gradient(circle, rgba(226,159,189,0.8) 0%, rgba(128,167,215,0.8) 100%);
  box-shadow:  5px 5px 20px #3e3f6e;
  
}
#textIcon:hover {
  color: white;
  background: rgb(213, 144, 175);
  background: radial-gradient(circle, rgb(223, 154, 184) 0%, rgb(121, 161, 210) 100%);
} */
#formInput{
  position: absolute;
  z-index: 100;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  width: 300px;
  height: 80px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* background: rgba(226,159,189, 0.8); */
  background: radial-gradient(circle, rgba(226,159,189,0.8) 0%, rgba(128,167,215,0.8) 100%);
  border-radius: 8px;
  box-shadow:  5px 5px 20px #282948;
  
}
#textInput{
  width: 100% - 16px;
  height: 32px;
  border-radius: 8px;
  border-style: none;
  padding: 8px;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(38, 91, 156);
}
#formInput button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  color: white;
  /* background: rgba(226,159,189, 0.8);  */
  background: radial-gradient(circle, rgb(128, 72, 158) 0%, rgb(38, 91, 156) 100%);
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#formInput button:hover {
  background: radial-gradient(circle, rgb(112, 60, 147) 0%, rgb(29, 76, 134) 100%);
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #formInput{
    width: 150px;
    height: 60px;
  }
  #textInput{
    width: 100% - 16px;
    height: 20px;
    font-size: 10px;
  }
  #formInput button {
    width: 100%;
    height: 40px;
    font-size: 10px;
  }
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  /* z-index: -1; */
}